<?xml version="1.0"?>
<launch>
    <!--include file="$(find vrx_bringup)/launch/sensored_boat.launch"/-->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
       <remap from="cloud_in" to="lidar_wamv/points"/>
       <remap from="scan" to="/scan"/>
       <rosparam>min_height: -1.5
angle_increment: 0.00872664625
range_max: 100.0
range_min: 4
angle_min: -1.5
angle_max: 1.5
use_inf: false </rosparam>
 </node>
 <node pkg="vrx_navigation" type="mapping" name="mapping" output="screen">
   <param name="~width" value="1024"/>
   <param name="~resolution" value="0.4"/>
   <param name="~offset_x" value="+0.0"/>
   <param name="~offset_y" value="-0.0"/>
 </node>


</launch>
