<?xml version="1.0"?>
<launch>

  <group ns="wamv">
    <!--include file="$(find vrx_bringup)/launch/sensored_boat.launch"/-->
      <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
         <remap from="cloud_in" to="sensors/lidars/lidar_wamv/points"/>
         <remap from="scan" to="sensors/lidars/lidar/scan"/>
         <!--param name="min_height" value="-1.5"/>
         <param name="angle_increment" value = "0.00360067925"/>
         <param name="range_max" value="100"/>
         <param name="range_min" value="3"/>
         <param name="angle_min" value="-1.5"/>
         <param name="angle_max" value="1.5"/>
         <param name="use_inf" value="false"/-->


         <rosparam>min_height: -3
angle_increment: 0.00872664625
range_max: 100.0
range_min: 2
angle_min: -1.5
angle_max: 1.5
use_inf: false </rosparam>

       </node>
   <node pkg="vrx_navigation" type="mapping" name="mapping" output="screen">
     <param name="~width" value="2048"/>
     <param name="~resolution" value="0.2"/>
     <param name="~offset_x" value="60.0"/>
     <param name="~offset_y" value="30.0"/>
     <remap from="scan" to="sensors/lidars/lidar/scan"/>
   </node>

   <node pkg="global_planner" type="planner" name="global_planner" output="screen">
       <!--remap from="global_planner/costmap/footprint" to ="costmap_2d/costmap/footprint"/-->
       <!--remap from="global_planner/costmap/costmap" to ="costmap_2d/costmap/costmap"/-->
       <remap from="global_planner/goal" to="/move_base_simple/goal"/>
       <param name="planner/old_navfn_behavior" value="false" />
       <param name="planner/use_quadratic" value="true" />
       <param name="planner/use_dijkstra" value="true" />
       <param name="planner/use_grid_path" value="false" />
       <param name="planner/allow_unknown" value="true" />
       <param name="planner/planner_window_x" value="10.0" />
       <param name="planner/planner_window_y" value="10.0" />
       <param name="planner/default_tolerance" value="0" />
       <param name="planner/publish_scale" value="100" />
       <param name = "costmap/footprint" value = "[[-2, -1.2], [2, -1.2], [2, 1.2], [-2,1.2]]"/>
       <param name = "costmap/height" value = "100"/>
       <param name = "costmap/width" value = "100"/>
      <param name = "costmap/robot_radius" value = "1.5"/>
       <param name = "costmap/static_map" value = "true"/>
       <param name = "costmap/inflation_layer/inflation_radius" value = "2.5"/>
       <param name = "costmap/inflation_layer/cost_scaling_factor" value = "1"/>
       <remap from="global_planner/planner/plan" to="waypoints"/>
     </node>
</group>
   <!--node pkg="vrx_navigation" type="waypoint_thinner.py" name="waypoint_thinner" /-->

   <node pkg="vrx_navigation" type="path_to_waypoints.py" name="path_to_waypoints"/>

</launch>
