<?xml version="1.0"?>
<launch>
  <include file="$(find rowbot_control)/launch/course_control.launch"/>
  <node  name="wamv_waypoint_follow" pkg="rowbot_control" type="navigate_wamv.py" output="screen">
    <param name="~speed" value="1.0"/> <!-- Target forwards speed -->
    <param name="~use_nlgl" value="True"/> <!-- Whether to use Non-Linear Guidance Law (reccomended) -->
    <param name="~nlgl_radius" value="5.0"/> <!-- The radius for NLGL. Smaller values turn the vessel more sharpely to the path -->
    <param name="~tolerance" value="2.0"/> <!-- The tolerance at which to accept a waypoint is hit -->
    <param name="~speed_control" value="False"/> <!-- Whether to use speed control - in dev, not reccomended -->
    <param name="~braking_distance" value="4.0"/> <!-- The braking distance use with speed control -->
    <param name="~minimum_forwards_speed" value="0.1"/> <!-- The minimum forwards speed when using speed control -->
    <param name="~request_mode" value="hard"/> <!-- Options 'hard' or 'soft'. Hard reaches the waypoint at all costs. Soft will request new waypoints if it veers to far from the path or misses a waypoints -->
  </node>
</launch>
