<launch>

    <include file="$(find vrx_tasks)/launch/missioncontrol.launch">
        <arg name="world_name" value="dock"/>
    </include>

  <include file="$(find vrx_navigation)/launch/docking.launch"/>

  <group ns="wamv">
    <node pkg="vrx_tasks" name="dockmaster" type="dockmaster.py" output="screen">
      <remap from="/odom" to="odom"/>
    </node>

    <node pkg="vrx_vision" name="placard_classifier" type="classify_placard_server.py"/>
  </group>

</launch>
