<launch>
    <!-- Since we can only have one entry point for the competition, the entrypoint (i.e. roslaunch this file)
    should contain everything needed to run the boat. Hence all the stuff. ~Steven -->
    <arg name="gazebo" default="true" />
    <arg name="thrust_config" default="T"/>
    <arg name="world_name" default="sandisland"/>
    <arg name="rviz" default="true"/>
    <arg name="debug" default="true"/>

    <!-- include the official gazebo file. This is like the server component in
    the competition. Disable it when runing for the comeptition.-->
    <include file="$(find vrx_bringup)/launch/sensored_boat.launch" if="$(arg gazebo)">
        <arg name="world_name" value="$(arg world_name)"/>
    </include>

    <!-- include the localisation code -->
    <include file="$(find vrx_bringup)/launch/localisation.launch"/>

    <include file="$(find vrx_bringup)/launch/rviz.launch" if="$(arg rviz)"/>

    <include file="$(find vrx_control)/launch/course_controller.launch">
        <arg name="thrust_config" value="$(arg thrust_config)" />
    </include>
    <include file="$(find vrx_waypoints)/launch/waypoint_follower.launch" />

    <include file="$(find vrx_navigation)/launch/lidar_node.launch">
    </include>

    <!--include file="$(find vrx_vision)/launch/object_server.launch">
        <arg name="use_camera" value="true"/>
        <arg name="debug" value="$(arg debug)"/>
    </include-->

    <!--include file="$(find vrx_vision)/launch/object_server0.launch">
        <arg name="use_camera" value="true"/>
    </include-->

    <!--node pkg="vrx_tasks" type="missionControl.py" name="missionControl" output="screen">
    </node-->

    <!-- Vision translation -->

    <!--include file="$(find vrx_navigation)/launch/lidar_node0.launch">
    </include>

    <include file="$(find vrx_vision)/launch/object_server0.launch">
        <arg name="distance_threshold" value="0.2"/>
        <arg name="use_camera" value="true"/>
        <arg name="expiry_time" value="2"/>
    </include-->
    <!--TODO:-->
</launch>
