<launch>


  <include file="$(find vrx_bringup)/launch/sensored_boat.launch">
      <arg name="world_name" value="perception_task"/>
      <arg name="gui" value="true"/>
  </include>

  <!--node pkg="vrx_tasks" name="perception_publisher" type="perception_publisher.py" output="screen"/-->

</launch>
