<launch>
    <!-- include the official gazebo file -->
    <arg name="thrust_config" default="T"/>

    <include file="$(find vrx_gazebo)/launch/station_keeping.launch">
        <arg name="thrust_config" value="$(arg thrust_config)"/>
        <arg name="urdf" value="$(find vrx_description)/configs/my_wamv.urdf"/>
        <arg name="gui" value="true"/>
    </include>
    <group ns="wamv">
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
            <param name="publish_frequency" value="30"/>
        </node>
    </group>
    <node name="odom_to_tf" pkg="vrx_navigation" type="odom_to_tf.py">
      <remap from="odom" to="wamv/sensors/position/p3d_wamv"/>
    </node>

    <include file="$(find vrx_control)/launch/course_controller.launch">
        <arg name="thrust_config" value="$(arg thrust_config)"/>
    </include>

    <include file="$(find vrx_waypoints)/launch/waypoint_follower.launch"/>

    <!-- Translate from geo path to normal path -->
    <node pkg="vrx_tasks" type="goalToPath.py" name="gptranslate" output="screen">
        <param name="~inTopic" value="vrx/station_keeping/goal"></param>
        <param name="~outTopic" value="waypoints"></param>
    </node>
    <node pkg="vrx_tasks" type="pathToRoute.py" name="pathtranslate" output="screen">
    </node>
    <!-- Translate from normal path to vrx waypoints -->

    <!-- RVIZ -->
    <node pkg="rviz" type="rviz" name="$(anon rviz)" args="-d $(find vrx_bringup)/rviz/witht0.rviz" />
</launch>
