<launch>
    <!-- include the official gazebo file -->
    <arg name="thrust_config" default="T"/>
    
    <include file="$(find vrx_gazebo)/launch/wayfinding.launch">
        <arg name="thrust_config" value="$(arg thrust_config)"/>
        <arg name="urdf" value="$(find vrx_description)/configs/usyd_wamv.urdf"/>
        <arg name="gui" value="true"/>
    </include>
    
    <include file="$(find vrx_tasks)/launch/missioncontrol.launch">
    </include>

    <!-- RVIZ -->
    <!--<node pkg="rviz" type="rviz" name="$(anon rviz)" args="-d $(find vrx_bringup)/rviz/witht0.rviz" />-->
</launch>