<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="wam-v-thrusters">
  <xacro:include filename="$(find wamv_description)/urdf/thrusters/engine.xacro" />
    <!-- === engine === -->
      <xacro:engine position="-2.373776 1.027135 0.318237" prefix="left" orientation="0.0 0.0 0.0" />
      <xacro:engine position="-2.373776 -1.027135 0.318237" prefix="right" orientation="0.0 0.0 0.0" />

  <gazebo>
    <plugin name="wamv_gazebo_thrust" filename="libusv_gazebo_thrust_plugin.so">
      <cmdTimeout>1.0</cmdTimeout>
      <robotNamespace>${namespace}</robotNamespace>
      <xacro:include filename="$(find wamv_gazebo)/urdf/thruster_layouts/wamv_gazebo_thruster_config.xacro" />
        <xacro:wamv_gazebo_thruster_config name="left" />
        <xacro:wamv_gazebo_thruster_config name="right" />
    </plugin>
  </gazebo>
</robot>