<?xml version="1.0"?>
<launch>

    <arg name="override_location" default="false" />
    <arg name="x" default="22.9" />
    <arg name="y" default="-9.9" />
    <arg name="yaw" default="-2.95" />
    <arg name="gui" default="true" />
    <arg name="world_name" default="sandisland"/>
    <arg name="thrust_config" default="T"/>
    <arg name="verbose" default="false"/>

    <include file="$(find vrx_gazebo)/launch/$(arg world_name).launch">
        <arg name="urdf" value="$(find vrx_description)/configs/usyd_wamv.urdf"/>
        <arg name="x" value="$(arg x)" if="$(arg override_location)" />
        <arg name="y" value="$(arg y)" if="$(arg override_location)" />
        <arg name="Y" value="$(arg yaw)" if="$(arg override_location)"/>
        <arg name="gui" value="$(arg gui)" />
        <arg name="thrust_config" value="$(arg thrust_config)"/>
        <arg name="verbose"       value="$(arg verbose)"/>
  </include>

</launch>
