<?xml version="1.0"?>
<launch>
    <include file="$(find vrx_bringup)/launch/sandisland_nogui.launch">
        <arg name="urdf" value="$(find vrx_description)/configs/my_wamv.urdf"/>
    </include>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
        <param name="publish_frequency" value="30"/>
    </node>

    <node name="odom_to_tf" pkg="vrx_navigation" type="p3d_to_tf.py"/>
    <node pkg="rviz" type="rviz" name="$(anon rviz)" args="-d $(find vrx_bringup)/rviz/witht0.rviz" />
</launch>
