<?xml version="1.0"?>
<launch>

    <arg name="thrust_config" default="T"/>
    <arg name="ground_truth_enabled" default="true"/>

    <include file="$(find vrx_gazebo)/launch/sandisland.launch">
        <arg name="thrust_config" value="$(arg thrust_config)"/>
        <arg name="ground_truth_enabled" value="$(arg ground_truth_enabled)"/>
        <arg name="urdf" value="$(find vrx_description)/configs/my_wamv.urdf"/>
    </include>

    <group ns="wamv">
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
            <param name="publish_frequency" value="30"/>
        </node>
    </group>

    <node name="odom_to_tf" pkg="vrx_navigation" type="p3d_to_tf.py">
        <remap from="/p3d_wamv" to="/wamv/sensors/position/p3d_wamv"/>
    </node>

    <include file="$(find vrx_control)/launch/course_controller.launch">
        <arg name="thrust_config" value="$(arg thrust_config)"/>
    </include>

    <include file="$(find vrx_waypoints)/launch/waypoint_follower.launch"/>

</launch>
